@import "~normalize.css/normalize.css";
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #F3F3F6;
}

html,
body,
#root {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
